<div class="change__password">
    <% if (typeof error !== "undefined") { %>
         
        <% error.forEach(errors => { %>
            <div class="error">
                <%= errors.msg %> 
                <i class="fa fa-times" id="removeErr"></i>
              </div>
            
            <% }) %>
            <% } %>
    <form action="/users/dashboard/<%= user.id%>/cp?_METHOD=PUT" method="POST">
        <h2>Change Password</h2>
        <input type="password" name="old" placeholder="oldpassword" id=""  <%= typeof old != 'undefined' ? old : "" %>>
        <input type="password" name="password" placeholder="new password" id="">
        <input type="password" name="password2" placeholder="confirm password" id="">
        <button type="submit">Update password</button>
    </form>
</div>




<script>
    const removeFlash = document.querySelector("#removeErr")
    const error = document.querySelector(".error")

    console.log(error);
    console.log(removeFlash);
    removeFlash.addEventListener("click", (e)=>{
        error.classList.add("removeFlash")
        
    })
</script>