<div class="change__password">
    <form action="/users/cp/<%= user.id%>?_METHOD=PUT" method="POST">
        <input type="text" name="old" placeholder="oldpassword" id="">
        <input type="text" name="password" placeholder="newpassword" id="">
        <button type="submit"><u>update</u></button>
    </form>
</div>