@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    outline: none;
}
body{
    scroll-behavior: smooth;
    background-color: #fff !important;
    font-family: 'Roboto', sans-serif;
}
:root{
    --border:3px solid #2d6ff7;
}
h1, h2, h3, h4, h5, a, p{
    font-family: 'Roboto', sans-serif;
}
table{
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
    overflow: scroll;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 14px;
  }
  
  th{
    background-color: #333333;
    color: #eee;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    padding: 5px 10px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  td a, td button{
      border: none;
      outline: none;
      padding: 10px;
      font-size: 14px;
      text-decoration: none;
      background-color: rgb(128, 6, 6);
      color: #fff;
      border-radius: 5px;
      font-weight: 500;
      cursor: pointer;
  }
td a, #details{
    background-color: #021A4B;
    color: #fff;
}
